

.list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BAD7DF;
  width: 100vw;
  height: 100vh;

  #brandText{
    font-family: 'DancingScript';
  }

  .list-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 15px;
  }

  
  

  footer{
    height: 85px;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-bottom: 15px;

    button{
      height: 70px;
      width: 70px;
  
      .add-icon{
        height: 60px;
        width: 60px;
        fill: #f6f6f6;
      }
    }
  }
}



